/* Estilos para botón tipo primary */
.button-primary {
    -fx-background-color: #007bff;
    -fx-text-fill: white;
    -fx-border-color: #007bff;
    -fx-border-radius: 4px;
    -fx-padding: 8px 16px;
    -fx-font-size: 14px;
}

.button-primary:hover {
    -fx-background-color: #0056b3;
    -fx-border-color: #0056b3;
}

/* Estilos para botón tipo secondary */
.button-secondary {
    -fx-background-color: #6c757d;
    -fx-text-fill: white;
    -fx-border-color: #6c757d;
    -fx-border-radius: 4px;
    -fx-padding: 8px 16px;
    -fx-font-size: 14px;
}

.button-secondary:hover {
    -fx-background-color: #545b62;
    -fx-border-color: #4e555b;
}

.combo-box {
    -fx-background-color: #007bff;
    -fx-border-color: #007bff;
    -fx-border-width: 2px;
    -fx-border-radius: 4px;
    -fx-text-fill: black;
    -fx-font-weight: bold;
}

.custom-combo-box .arrow-button {
    -fx-padding: 0px 8px;
}

.custom-combo-box .arrow-button .arrow {
    -fx-background-color: white; /* Cambia el color de la flecha a blanco */
}

.custom-combo-box:hover, .custom-combo-box:focused {
    -fx-border-color: #007bff;
}

.custom-combo-box .list-cell {
    -fx-background-color: white;
    -fx-font-size: 14px;
    -fx-alignment: center;
}

.custom-combo-box .list-cell:hover {
    -fx-background-color: #007bff;
    -fx-text-fill: white;
}

.custom-combo-box .list-cell:filled:selected {
    -fx-background-color: white;
    -fx-text-fill: black;
}

.custom-combo-box .list-view .list-cell:selected .text {
    -fx-fill: #007bff; /* Cambia el color de texto solo cuando está seleccionado en el desplegable */
}
